@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Merriweather:wght@300&display=swap');
@font-face {
    font-style: normal;
    font-weight: 400;   
    font-family: 'Merriweather', serif;
    font-display: swap;  
    src: url(../fonts/Roboto-Regular.ttf) format('truetype'); 
}

body {
    padding: 5px;
    font-family: 'Merriweather', serif;
    margin: 0;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 18px;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

h1, h2 {
    margin: 0;
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section_inner,
.info_instance {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    width: 140px;
    height: 40px;
    background-color: #304c7a;
    color: #F9FAF8;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}

.header {
    padding-top: 20px;
}

.header_logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.nav_link {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 30px;
}

.intro_title {
    font-size: 48px;
    color: #F9FAF8;
}

.intro_inner {
    gap: 5%;
}


.info {
    background-color: #F9FAF8;
}

.info_header {
    color: #1F2937;
    margin-bottom: 50px;
    font-size: 36px;
}

.info_inner {
    flex-direction: column;
}

.info_instance_item {
    max-width: 20%;
    text-align: center;
}

.info_instance {
    display: flex;
    justify-content: space-around;
}

.info_instance_image {
    border: 5px #8db3f0 solid;
    width: 150px;
    height: 150px;
    border-radius: 10%;
    margin: 0 auto;
}

.info_instance_subtext {
    color: #1F2937;
}

.quote {
    background-color: #8c9099;
    color: #1F2937;
    font-size: 36px;
}

.quote_inner {
    display: flex;
    flex-direction: column;
}

.quote_text {
    font-style: italic;
}

.quote_signature {
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: end;
}


.signup {
    background-color: #F9FAF8;
}

.signup_area {
    background-color: #3882F6;
    padding: 50px 100px;
    border-radius: 10px;
}

.signup_inner {
    width: 100%;
}

.signup_button {
    border-color: #F9FAF8;
}


.footer {
    text-align: center;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
